target
modules/ws-client/node_modules
*target*
/modules/**/target/*
/.metals
/.vscode
/project
/modules/domain/jvm/target
modules/domain/js/target
modules/domain/shared/target
modules/alerts/target
modules/catalogue/target
modules/core/target
modules/feed/target
modules/forecasts/target
modules/it/target
modules/lib/target
modules/processor/target
modules/snapshots/target
modules/tracing/target
modules/ws-client/target
modules/ws-server/target
modules/x-demo/target
modules/x-qa/target
