# Ignore all target directories
**/target/

# Ignore specific directories
/modules/ws-client/node_modules
modules/ws-client/.parcel-cache/
modules/ws-client/dist/

# Ignore IDE-specific files and directories
.idea
.vscode

# Ignore build artifacts
*.class
*.cache
*.semanticdb
*.tasty

# Ignore output directories and files
out/
output/
in-cache/
data/
export/
previous/
images
# Ignore specific zip files
inc_compile_2.12.zip
inc_compile_3.zip

# Include Scala source files
!src/**/*.scala